---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$text-color: #333;

// Orange
$primary-color: #ee9107;
$primary-highlight-color: #ff8f00;
$primary-pagehead-color: #ffc107;
$primary-dim-color: #f5b454;

// Blue
$secondary-color: #077cee;

$code-bg-color: #f5f5f5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

a {
    color: #ee9107;
}

a:hover, a:focus {
    color: $primary-highlight-color;
}

code, a > code {
    background: $code-bg-color;
    color: $secondary-color;
    padding: 3px 5px;
}

pre {
    background: $code-bg-color;
    border: 0;
}

pre code {
    display: block;
    font-size:90%;
    line-height: 1.2rem;
    padding: 1.5rem;
}

.card pre {
    background: none;
}

.card pre code {
    font-size: 100%;
    padding: 0;
}

.navbar-hyper {
    border: 0;
    border-bottom: 1px solid #ee9107;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

#hyper .navbar a {
    border-bottom: 5px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: lowercase;
}

#hyper .navbar a:hover, #hyper .navbar a:focus {
    background: none;
    border-color: $primary-highlight-color;
}

.navbar .navbar-brand {
    font-size: 2rem;
    padding: 0;
}
.navbar .navbar-brand small {
    display:inline;
    font-size: 0.5rem;
}

.hyper-pageheader {
    background: $primary-pagehead-color;
    color: #fff;
    margin-bottom: 4rem;
    padding:4rem;
}

.hyper-home .hyper-pageheader {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.hyper-home .hyper-pageheader h1 {
    font-size: 4rem;
    margin: 2rem 0;
}
.hyper-home .hyper-pageheader p {
    font-size: 2rem;
    margin: 2rem 0;
}

.hyper-home .hyper-pageheader .hyper-getstarted {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.25rem;
    padding: 1rem 2rem;
}

.hyper-home .hyper-pageheader .hyper-getstarted:hover {
    background: #fff;
    color: $primary-color;
}

.btn.btn-primary {
    border-color: #ffb300;
    background-color: #ffc107;
}

.btn.btn-primary:hover {
    background-color: #ffb300;
}

.hyper-sidebar .guide-topic-title {
    color: #999;
    font-size: 1.1rem;
}

.hyper-sidebar .guide-topic:hover .guide-topic-title {
    color: #333;
}

.hyper-sidebar .nav {
    display: block;
    margin-bottom: 2rem;
}

.hyper-sidebar .nav li > a {
    color: #777;
    display: block;
    font-size: 90%;
    padding: .25rem 0;
}

.hyper-sidebar .nav li:hover > a {
    color: $grey-color-dark;
}

.hyper-sidebar .nav li.active > a {
    color: $primary-highlight-color;
}

.hyper-content {
    line-height: 1.7rem;
    max-width: 700px;
}

.hyper-content h2 {
    color: $primary-color;
    margin: 2rem 0 1rem;
}

.hyper-content h3 {
    color: $primary-dim-color;
}

.hyper-footer {
    background: #f5f5f5;
    margin-top: 4rem;
    padding: 4rem;
}

.hyper-home .hyper-footer {
    background: none;
}

/* code styles */
.highlight  { background: $code-bg-color; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: $primary-highlight-color; } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: $primary-color; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $primary-color; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: $primary-highlight-color; } /* Literal.String.Backtick */
.highlight .sc { color: $primary-highlight-color; } /* Literal.String.Char */
.highlight .sd { color: $primary-highlight-color; } /* Literal.String.Doc */
.highlight .s2 { color: $primary-highlight-color; } /* Literal.String.Double */
.highlight .se { color: $primary-highlight-color; } /* Literal.String.Escape */
.highlight .sh { color: $primary-highlight-color; } /* Literal.String.Heredoc */
.highlight .si { color: $primary-highlight-color; } /* Literal.String.Interpol */
.highlight .sx { color: $primary-highlight-color; } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: $primary-highlight-color; } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

// TOML tweaks

// rouge think's `hyper = { version = "0.13" }` is an error...
.language-toml .highlight .err {
    background: none;
    color: $secondary-color;
}
