# Site settings
title: hyper
baseurl: "/" # the subpath of your site, e.g. /blog/
url: "https://hyper.rs" # the base hostname & protocol for your site

defaults:
  -
    scope:
      path: "_guides"
      type: "guides"
    values:
      layout: "guide"

collections:
  guides:
    permalink: /:collection/:path/
    output: true
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true

# Build settings
markdown: kramdown
highlighter: rouge

kramdown:
    input: GFM
    syntax_highlighter: rouge

relative_links:
  enabled: true
  collections: true

docs_url: https://docs.rs/hyper/0.14.*
examples_url: https://github.com/hyperium/hyper/tree/master/examples
futures_url: https://docs.rs/futures/0.3.*
hyper_tls_url: https://docs.rs/hyper-tls/*
