<footer class="hyper-footer col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-start text-muted">&copy; 2024 hyper</div>
            <div class="col-sm-6 text-center text-sm-end">
                {% if page.hyper_path %}
                    <a href="https://github.com/hyperium/hyper/blob/master/{{ page.hyper_path }}">
                        edit this page on github
                    </a>
                {% else %}
                    <a href="https://github.com/hyperium/hyperium.github.io/blob/master/{{ page.path }}">
                        edit this page on github
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/js/rustdoc.js" | absolute_url }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
