<footer class="hyper-footer col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-left text-muted">&copy; <script>document.write(new Date().getFullYear())</script> hyper</div>
            <div class="col-sm-6 text-center text-sm-right">
                <a href="https://github.com/hyperium/hyperium.github.io/blob/master/{{ page.path }}">
                    edit this page on github
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/js/rustdoc.js" | absolute_url }}"></script>
