<nav class="navbar navbar-hyper" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}">hyper.rs <small>An http library for Rust</small></a>
    </div>
    <div class="">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://hyperium.github.io/hyper">Documentation</a></li>
        <li><a href="https://github.com/hyperium/hyper">Repo</a></li>
        <li><a href="https://crates.io/crates/hyper">Crates.io</a></li>
        <li><a href="https://github.com/hyperium/hyper/blob/master/CONTRIBUTING.md">Contribute</a></li>
      </ul>

    <!--
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    -->
    </div>
  </div>
</nav>
