<header class="navbar navbar-toggleable-md navbar-hyper" role="navigation">
  <nav class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="/">hyper.rs</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/guides">Documentation</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/hyperium/hyper">Source</a></li>
      </ul>
    </div>
  </nav>
</header>
