<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{% if page.title %}{{ page.title }} | hyper{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="./icons/favicon.ico" type="image/x-icon">
<link rel="icon" href="./icons/favicon.ico" type="image/x-icon">
 
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@hyperium_rs" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:image" content="https://pbs.twimg.com/profile_banners/1260950338237956098/1589469871" />
{% if page.excerpt %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
{% endif %}
