<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body id="hyper">
    {% include header.html %}
    <div class="hyper-pageheader">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 hyper-sidebar">
          <nav>
            <h4>Server</h4>
            <ul class="nav">
              <li><a href="/guides/server/hello-world">Hello World!</a></li>
              <li><a href="/guides/server/echo">Echo, echo, echo!</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-9 hyper-content">
          <div class="alert alert-warning">
            <strong>Disclaimer:</strong> These guides are written for an unreleased version of hyper, available on its master branch.
          </div>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="{{ "js/rustdoc.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
