<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body id="hyper">
    {% include header.html %}
    <div class="hyper-pageheader">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <aside class="col-md-3 hyper-sidebar">
          <nav>
            {% assign topics = site.data.guides | first %}
            {% for guides in topics.guides %}
            {% assign topic_sub_url = guides | prepend:"/" %}
            {% assign topic = site.data.guides | where: "path", topic_sub_url | first %}
            {% include guide_ul.html topic=topic %}
            {% endfor %}
            <h4 class="guide-topic-title">
              <a href="{{ site.docs_url }}">API Reference</a>
            </h4>
          </nav>
        </aside>
        <article class="col-md-9 hyper-content">
          {{ content }}
          {% include guide_footer.html %}
        </article>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
