<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body id="hyper">
    {% include header.html %}
    <div class="hyper-pageheader">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <aside class="col-md-3 hyper-sidebar">
          <nav>
            <section class="guide-topic">
              <h4 class="guide-topic-title">Server</h4>
              <ul class="nav">
                <li><a href="/guides/server/hello-world">Hello World!</a></li>
                <li><a href="/guides/server/echo">Echo, echo, echo!</a></li>
              </ul>
            </section>
            <section class="guide-topic">
              <h4 class="guide-topic-title">Client</h4>
              <ul class="nav">
                <li><a href="/guides/client/basic">Basic Example</a></li>
                <li><a href="/guides/client/advanced">Advanced</a></li>
                <li><a href="/guides/client/configuration">Configuration</a></li>
              </ul>
            </section>
          </nav>
        </aside>
        <article class="col-md-9 hyper-content">
          <div class="alert alert-warning">
            <strong>Disclaimer:</strong> These guides are written for an unreleased version of hyper, available on its master branch.
          </div>
          {{ content }}
          {% include guide_footer.html %}
        </article>
      </div>
    </div>

    {% include footer.html %}
    <script src="{{ "js/rustdoc.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
