<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body id="hyper" class="hyper-home">
    {% include header.html %}
    <section class="jumbotron hyper-pageheader">
      <div class="container">
        <h1 class="hyper-logo">hyper</h1>
        <p>Fast and safe HTTP for the Rust language.</p>
        <p><a href="/guides" class="btn hyper-getstarted">Get Started</a></p>
      </div>
    </section>
    <section class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="lead">hyper is a fast HTTP implementation written in and for Rust.</p>
        <ul>
            <li>A <strong>Client</strong> for talking to web services.</li>
            <li>A <strong>Server</strong> for building those web services.</li>
            <li>Blazing <strong>fast</strong><a href="https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=plaintext">*</a> thanks to Rust.</li>
            <li>High <strong>concurrency</strong> with non-blocking sockets.</li>
            <li>HTTP/1 and <strong>HTTP/2</strong> support.</li>
        </ul>
      </div>
      <div class="col-md-6">
        {{ content }}
      </div>

    </div>
    </section>

    {% include footer.html %}
  </body>
</html>

