<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body id="hyper" class="hyper-home">
    {% include header.html %}
    <section class="hyper-pageheader">
      <div class="container">
        <span class="alert alert-light">
            <a href="https://www.surveyhero.com/c/vvnhc7j7">hyper User Survey 2025</a>
        </span>
        <h1>hyper</h1>
        <p>A protective and efficient HTTP library for all.</p>
        <p><a href="/guides/1" class="btn hyper-getstarted">Get Started</a></p>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-md-6 mb-md-5">
          <h3>The HTTP implementation for Rust</h3>
          <ul>
              <li>A <strong>Client</strong> for talking to web services.</li>
              <li>A <strong>Server</strong> for building those web services.</li>
              <li>Blazing <strong>fast</strong><a href="https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=plaintext">*</a> thanks to Rust.</li>
              <li>High <strong>concurrency</strong> with non-blocking sockets.</li>
              <li>HTTP/1 and <strong>HTTP/2</strong> support.</li>
          </ul>
        </div>
        <div class="col-md-6 mb-md-5">
          <h3>Latest: 1.0 is out!</h3>
          <p><a href="https://seanmonstar.com/blog/hyper-v1">hyper v1.0 is here!</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-md-5">
          <h3>Open</h3>
          <p>hyper is open source, always. The success of hyper depends on the health of the community building and using it. All contributions are in the open.</p>
        </div>
        <div class="col-md-6 col-lg-4 mb-md-5">
          <h3>Correct</h3>
          <p>hyper is a memory safe and robust implementation of the HTTP specification. It is durable to the “real world”. Where feasible, hyper enforces correct usage.</p>
        </div>
        <div class="col-md-6 col-lg-4 mb-md-5">
          <h3>Fast</h3>
          <p>A fast experience delights users. A faster network library means a faster application, resulting in delighting our users’ users. Whether with one request, or millions.</p>
        </div>
        <div class="col-md-6 col-lg-4 mb-md-5">
          <h3>HTTP/*</h3>
          <p>hyper is specifically focused on HTTP. Support for HTTP/1 and HTTP/2, with HTTP/3 in the works.</p>
        </div>
        <div class="col-md-6 col-lg-4 mb-md-5">
          <h3>Flexible</h3>
          <p>hyper enables as many usecases as possible. It has no opinion on application structure, and makes few assumptions about its environment.</p>
        </div>
        <div class="col-md-6 col-lg-4 mb-md-5">
          <h3>Understandable</h3>
          <p>hyper is no more complicated than it has to be. HTTP is not simple. It may not be as “easy” as 1-line to do everything, but it shouldn’t be “hard” to find the answers.</p>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>

