name: contrib
on:
  schedule:
    - cron: '15 3 * * *'
  workflow_dispatch:

permissions:
  contents: write # to update _contrib
  pull-requests: write # to send the updated _contrib PRs
  
jobs:
  update-contrib:
    name: Update _contrib
    runs-on: ubuntu-latest

    steps:
      - name: Checkout website
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Checkout hyper
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          repository: hyperium/hyper
          path: hyper
            
      # Insert frontmatter borders, replace markdown header with
      # frontmatter title and insert layout: guide
      - name: Convert doc titles to frontmatter 
        run: |
          for f in hyper/docs/*.md; do
            sed -i -e '1i ---' \
            -e '1s/#/title:/' \
            -e '2i layout: guide' \
            -e '2i ---' $f;
          done

      # Use the hyper docs readme as the index page of contrib,
      # and insert permalink: /contrib/ in the frontmatter
      - name: Convert readme to index
        run: |
          sed -i -e '4i permalink: /contrib/' hyper/docs/README.md
          mv hyper/docs/README.md hyper/docs/index.md

      # Lowercase the internal links so they will correctly point to
      # the lowercased filenames.
      - name: Lowercase internal links
        run: |
          for filename in hyper/docs/*.md; do
            # cut `.md` from the filename before search and replace
            filename=${filename::-3};

            for file in hyper/docs/*.md; do
              # match instances of only the filename, not including
              # the parent path, and convert them to lowercase
              sed -i -e "s|${filename##*/}|\L\0|g" $file;
            done
          done

      - name: Lowercase filenames and replace underscores
        run: |
          for f in hyper/docs/*; do
            mv -vn "$f" "$(echo "$f" | tr '[:upper:]' '[:lower:]' | tr '_' '-')"; 
          done

      - name: Copy docs to contrib
        run: |  
          mkdir -p _contrib
          cp -a hyper/docs/. _contrib/

      - uses: gr2m/create-or-update-pull-request-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          author: github-actions <github-actions@github.com>
          branch: actions/update-contrib
          title: 'doc: update contrib docs'
          body: >
            The _contrib docs are likely out of date. This is an automatically 
            generated PR by the `contrib.yml` GitHub workflow, which clones the docs
            from the main repo, implements the changes in _contrib then submits a new 
            PR or updates an existing PR.
          commit-message: 'doc: update contrib docs'
          path: _contrib/

